<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Lorem, ipsum dolor sit amet consectetur</h1>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum nobis eius similique veritatis et tempore, perferendis quos nam exercitationem corporis dolorum ipsa rem praesentium minima reprehenderit veniam expedita voluptate earum.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit accusamus consectetur atque obcaecati. Dolore a aperiam omnis fuga rem sunt facilis, hic exercitationem corrupti ea, iure excepturi aliquid, tenetur possimus!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam consequuntur nesciunt laboriosam quibusdam nam dicta facilis corporis, magnam est voluptate magni tempore inventore impedit explicabo ipsum consequatur atque eaque! Impedit.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat consectetur dolorum expedita recusandae labore, illum ducimus nemo quas unde perferendis corrupti aliquam, omnis itaque at amet porro debitis impedit odio.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores mollitia ullam fugit distinctio. Molestiae expedita natus, assumenda esse nostrum adipisci optio illo saepe iste fuga tempore temporibus quod eligendi cumque?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur iusto illum libero inventore. Commodi molestiae, cumque consectetur error quia, cupiditate veritatis nihil tenetur quas sunt laborum ut. Reiciendis, unde tempore!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur, dignissimos ipsa enim explicabo tempora consequatur. Error cupiditate aspernatur fugit voluptatum? Commodi unde debitis itaque officiis asperiores fuga quaerat odio error?

    </p>
    <img src="img/bienvenidos.jpg" alt="Aca debe de haber una imagen"width="500" height="500">
</body>
</html>